{% extends "network/layout.html" %} 
{% load static %}

{% block body %} 
<head>
    <script src="{% static 'network/like.js' %}" defer></script>

</head>
<div class="container">
  
<h1>Following Posts</h1>
<div class="post-count" id="posts-count">
    {{post_number}}
</div>
<div class="posts">
  {% for post in pages %}
    <div class="post">
      <div class="user"><a href="{% url 'userprofile' post.user.username %}">{{post.user}}</a></div>
      <div class="date">{{post.timestamp|timesince}}</div>
      <div class="message">{{post.content}}</div>
    
      <form id="like-form" method="post" onsubmit="like(event)">
            {% csrf_token %}
            <div class="likes-count" id="likes-count"><p>Likes: {{ post.likes.count }}</p></div>
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="{% if request.user in post.likes.all %}Unlike{% else %}Like{% endif %}">
      </form>
     
   
    </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
     
   
{% if pages.has_previous %}
<li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
<li class="page-item"><a class="page-link" href="?page={{pages.previous_page_number}}">Previous</a></li>
{% endif %}

<li class="page-item disabled"><a href="#" class="page-link">Page {{pages.number}} of {{ pages.paginator.num_pages }}</a></li>

{% if pages.has_next %}
<li class="page-item"><a class="page-link" href="?page={{pages.next_page_number}}">next</a></li>
<li class="page-item"><a class="page-link" href="?page={{pages.paginator.num_pages}}">Last &raquo;</a></li>
{% endif %}
</ul>
</nav>
</div>
{% endblock %}
